version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: openloyalty
      POSTGRES_USER: ol_user
      POSTGRES_PASSWORD: ol_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks:
      - openloyalty-net
  worker:
    build: ./loyalty-worker
    depends_on:
      - postgres
      - redis
      - kafka

volumes:
  pgdata:
networks:
  openloyalty-net:
    external: true